h1, h2 {
  font-family: Lato;
}

.metadato{
  font-family: "Courier New";
  border-style: dotted;
  background-color:azure;
  margin-left: 40px;
  margin-right: 80px;
}

.cursiva {
  font-family: Lato;
  font-style: italic;
  font-size: 80%;
  color: gray;
}
